@font-face {
  font-family: "font-primary";
  src: url("../assets/fonts/VARIABLEFONT_WDTH\,WGHT.TTF");
}

@font-face {
  font-family: "font-secondary";
  src: url("../assets/fonts/ITALIC-VARIABLEFONT_WDTH\,WGHT.TTF");
}

$primary-color: #5291c9;

* {
  font-family: "font-primary", sans-serif;
}

html {
  font-size: 16px;
}

h2 {
  font-size: 1.9rem;
  // position: relative;
  color: $primary-color;
}

h3 {
  color: $primary-color;
}

p {
  font-size: 1.2rem;
}

// NAVBAR

.navbar {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.nav-link {
  color: $primary-color !important;
}

.nav-link:hover {
  color: black !important;
}

.navbar-collapse {
  text-align: center;
}

.logo-desktop {
  display: none;
}

#mainNav.navbar-shrink {
  opacity: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
#mainNav.navbar-shrink .navbar-brand {
  color: #212529;
}
#mainNav.navbar-shrink .navbar-brand:hover {
  color: #f4623a;
}
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
  color: #212529;
}
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
  color: #f4623a;
}

body {
  position: relative;
  z-index: 1;
}

.background {
  height: 200vh;
  width: 100%;
  position: absolute;
  top: 30%;
  z-index: -1;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(82, 145, 201, 0.15) 30%,
    rgba(82, 145, 201, 0.15) 68%,
    rgba(255, 255, 255, 1) 100%
  );
}

.masthead {
  height: 50vh;
  text-align: center;
  color: black;
  background: url("../assets/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  .masthead-subheading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5rem;
    //   color: $primary-color;
    color: white;
  }
  .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
  }

  .img {
    width: 60%;
    height: 40%;
    margin-bottom: 4rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-height: 40rem;
    }
  }
}

.servicios .icon-box {
  padding: 60px 30px;
  width: 100%;
  transition: all ease-in-out 0.3s;
  background: #fefefe;
  /* box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 18px;
  border-bottom: 5px solid #fff;
  text-align: center;
  margin-top: 0.5rem;
}

.servicios .icon-box p {
  //   line-height: 24px;
  font-size: 1.1rem;

  margin-bottom: 0;
}

.servicios .icon-box:hover {
  transform: translateY(-10px);
  border-color: $primary-color;
}

#nosotros {
  img {
    width: 100%;
    float: left;
    margin-right: 20px;
    border-radius: 8px;
    max-height: 25rem;
  }

  // p {
  //   text-align: justify;
  // }
}

.phone {
  width: 97%;
  margin: 0 auto;
  padding: 2rem 0;
  border-top: 1px solid black;
  text-align: center;

  h5 {
    font-size: 1.5rem;
    font-weight: 200;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 200;
    transition-duration: 0.3s;
  }

  a:hover {
    color: $primary-color;
  }
}

#portfolio .box {
  height: 22rem;
}

.portfolio-box {
  height: 100%;
  filter: grayscale(1);
  transition-duration: 0.5s;
}

.portfolio-box:hover {
  filter: grayscale(0);
}

.portfolio-box .img-fluid {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#portfolio .container-fluid,
#portfolio .container-sm,
#portfolio .container-md,
#portfolio .container-lg,
#portfolio .container-xl,
#portfolio .container-xxl {
  max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box,
#portfolio .container-sm .portfolio-box,
#portfolio .container-md .portfolio-box,
#portfolio .container-lg .portfolio-box,
#portfolio .container-xl .portfolio-box,
#portfolio .container-xxl .portfolio-box {
  position: relative;
  display: block;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption,
#portfolio .container-sm .portfolio-box .portfolio-box-caption,
#portfolio .container-md .portfolio-box .portfolio-box-caption,
#portfolio .container-lg .portfolio-box .portfolio-box-caption,
#portfolio .container-xl .portfolio-box .portfolio-box-caption,
#portfolio .container-xxl .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(82, 123, 201, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}
#portfolio
  .container-fluid
  .portfolio-box
  .portfolio-box-caption
  .project-category,
#portfolio
  .container-sm
  .portfolio-box
  .portfolio-box-caption
  .project-category,
#portfolio
  .container-md
  .portfolio-box
  .portfolio-box-caption
  .project-category,
#portfolio
  .container-lg
  .portfolio-box
  .portfolio-box-caption
  .project-category,
#portfolio
  .container-xl
  .portfolio-box
  .portfolio-box-caption
  .project-category,
#portfolio
  .container-xxl
  .portfolio-box
  .portfolio-box-caption
  .project-category {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-md .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-sm .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-md .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-lg .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-xl .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

#contacto {
  button {
    background-color: $primary-color;
  }
  h4 {
    font-weight: 200;
  }
  .logo {
    padding: 2rem 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-bottom: 3rem;
  }

  .textarea {
    margin-top: 0.6rem;
  }
}

.form-floating:not(.form-control:disabled)::before {
  background-color: transparent;
}

footer {
  background-color: $primary-color;
  padding: 2rem 0;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
  }

  h4 {
    color: white;
  }

  .social-links {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;

    a {
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      color: #5291c9;
      line-height: 1;
      padding: 2px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 2.5rem;
      height: 2.5rem;
      transition: 0.3s;

      &:hover {
        background: #5291c9;
        color: white;
        text-decoration: none;
      }
    }
  }
  #footer .copyright {
    margin: 0 0 5px 0;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}

@media (min-width: 768px) {
  .textarea {
    margin-top: 0 !important;
  }

  .logo-desktop {
    display: inline-block;
  }

  .logo-mobile {
    display: none;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }

  h2 {
    font-size: 3rem;
  }

  .masthead {
    height: 98vh;
    min-height: 40rem;
    // padding-top: 4.5rem;
    // padding-bottom: 0;
  }
  .masthead p {
    font-size: 1.15rem;
  }
  .masthead h1,
  .masthead .h1 {
    font-size: 3rem;
  }

  #nosotros {
    img {
      width: 30%;
    }
  }

  .phone {
    width: 50%;

    a {
      font-size: 3rem;
    }
  }
}
@media (min-width: 1200px) {
  .masthead h1,
  .masthead .h1 {
    font-size: 3.5rem;
  }
}
